body {
    font-family: Tahoma;
}



.reise {
    border: solid;
    border-color: #576a8f;
    border-radius: 4px;
    border-width: 0.2em;
    background-color: rgba(193, 193, 193, 0.24);
    /*padding:30px;*/
}

.benutzerform{  
   margin-top:15px;
}

.hoteldetailbild {
    padding: 6px;
}

.reisedetailbild {
    padding: 18px 6px 3px 6px;
}

.reise1 {
    border: solid;
    border-color: #576a8f;
    border-radius: 4px;
    border-width: 0.2em;
    background-color: rgba(193, 193, 193, 0.24);
    text-align: center;
}

.marginbuchen{
    margin-bottom:5%;
    margin-left:5%;
    padding-top:5%;
    


}

.Restplätze {
    text-align: center;
    color: #005ead;
    font-weight: bold;
}

.preisanzeige {
    font-size: 20px;
    font-weight: bold;
    border: solid;
    border-color: #ffd800;
}

.NichtZeigen{
    display:none;
}


.divcenter {
    text-align: center;
}

.details {
    font-size: 1.2em;
    padding-top: 2%;
}

.bild {
    padding: 0;
    float: left;
}

.Kommentar {
    font-size: 15px;
    font-style: italic;
}

.liste > li {
    margin: 1%;
}

.Pfeil {
    color: #41aaef;
    font-size: 20px;
    padding-left: 4%;
}

.listitem {
    margin: 2%;
}

.bildschrift {
    font-size: 1.2em !important;
}

.platziert {
    margin-left: 30% !important;
    margin-top: 80% !important;
}

.img {
    border-radius: 340px;
    border-color: white;
    border-style: dashed;
}

.acidjs-rating-stars,
.acidjs-rating-stars label::before {
    display: inline-block;
}

    .acidjs-rating-stars label:hover,
    .acidjs-rating-stars label:hover ~ label {
        color: #efbd20;
    }

.acidjs-rating-stars {
    margin: 0;
    padding: 0;
}

    .acidjs-rating-stars input {
        display: none;
    }

.acidjs-rating-stars {
    unicode-bidi: bidi-override;
    direction: rtl;
}

    .acidjs-rating-stars label {
        color: #ccc;
    }

        .acidjs-rating-stars label::before {
            content: "\2605";
            width: 18px;
            line-height: 18px;
            text-align: center;
            font-size: 18px;
            cursor: pointer;
        }

    .acidjs-rating-stars input:checked ~ label {
        color: #efbd20;
    }

.acidjs-rating-stars {
    padding-top: 1em;
}

.footer {
    background-color: #003a6a;
    text-align: center;
    color: #ffffff;
}

.login {
    margin-left: 80%;
}


.logoschriftstartslider {
    font-family: 'Bradley Hand ITC';
    font-weight: bold;
    color: #005ead;
    font-size: 1.6em;
    text-align: center;
    margin-top: 6%;
}

.logoschrift {
    font-family: 'Bradley Hand ITC';
    font-weight: bold;
    color: #005ead;
    font-size: 1.6em;
    text-align: right;
    margin-top: 4%;
}

.suchergebnis {
    font-family: 'Bradley Hand ITC';
    font-weight: bold;
    color: #005ead;
    font-size: 1.6em;
    text-align: center;
    border-radius: 4px;
    border-style: dashed;
    border-width: 0.2em;
    border-color: #005ead;
    margin: 15%;
    padding: 15%;
}

.Schriftartblau {
    font-family: 'Bradley Hand ITC';
    font-weight: bold;
    color: #005ead;
    font-size: 1.6em;
}

.kontakt {
    font-family: 'Bradley Hand ITC';
    font-weight: bold;
    color: #005ead;
    font-size: 2em;
    /*text-align:center;*/
}

.anmeldung {
    color: #003a6a;
    background-color: #ffd800;
    font-family: 'Bradley Hand ITC';
    font-weight: bold;
    font-size: 1.1em;
}

.slider {
    overflow: auto;
    position: relative;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    border: solid 0.2em #005ead;
    border-radius: 10px;
}

.zentriert {
    margin-top: 10%;
    margin-left: 6%;
}
/*Slider-Full-Screen*/
.full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



.filter {
    border: solid;
    border-color: #576a8f;
    background-color: rgba(193, 193, 193, 0.24);
    border-radius: 4px;
    border-width: 0.2em;
}

.ueberschrift {
    color: #ffffff;
    font-size: 2em;
    text-align: center;
}

.buttonind {
    margin: 4%;
    background-color: #eea32c;
    text-align: center;
}

.content {
    margin-left: 5px;
}

.termin {
    background-color: #cfe9ff;
    border-radius: 5px;
    color: #003a6a;
    font-size: 1.2em;
    text-align: center;
    padding: 1%;
    margin-top: 10%;
    margin-left: 5%;
}

.startlink {
    background-color: #005ead;
    font-family: 'Bradley Hand ITC';
    padding: 1%;
    text-align: center;
}

    .startlink > a {
        color: #efbd20;
        font-size: 1.8em;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
    }

.ausgegraut{
    background-color:#514f4f;
    color:#f8f1f1;
    margin: 4%;
    text-align: center;
}

.ausgegraut:hover{
   cursor:not-allowed;
}

.mytooltip{
    position:relative;
}

.mytooltip:hover .tooltiptext{
    visibility:visible;
    opacity:1;
}

.tooltiptext{
    visibility:hidden;
    min-width:50px;
    background-color:#f89408;
    color:#514f4f;
    text-align:center;
    padding:5px;
    border-radius:6px;
    position:absolute;
    z-index:1;
    bottom:8%;
    right:120%;
    margin-left:-120px;
    opacity:0;
    transition:opacity 1s;
}

.tooltiptext:hover{
    visibility:visible;
    opacity:1;
}


