@model UI_Reiseboerse_Graf.Models.KundenAnlegenModel

@{
    ViewBag.Title = "BenutzerErstellen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BenutzerErstellen</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
