
@{
    ViewBag.Title = "Bestaetigung";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="Schriftartblau">Sie haben es fast geschafft, @User.Identity.Name</h2>
<div>
    @Html.ActionLink("Zurück zur Startseite", "Index", "Home")
</div>
<div class="suchergebnis">
    <h4>Vielen Dank für Ihre Buchung <br /> In Kürze erhalten Sie eine Buchungsbestätigung per Mail</h4>
    <h5>Überprüfen Sie bitte auch Ihren Spamordner</h5>
    @Html.ActionLink("Zurück zur Startseite","Laden","Reisen",new { @class="btn anmeldung"})
</div>