
@{
    ViewBag.Title = "Bestaetigung";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="Schriftartblau">Ihre Buchung ist abgeschlossen, @User.Identity.Name!</h2>
<div class="suchergebnis">

    <h4>Vielen Dank für Ihre Buchung <br /> In Kürze erhalten Sie eine Buchungsbestätigung per Mail</h4>
    <h4>@ViewBag.text</h4>
    <h4>Überprüfen Sie bitte auch Ihren Spamordner</h4>
    @Html.ActionLink("Zurück zur Startseite","Laden","Reisen",null,new { @class="btn anmeldung"})
</div>