
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    <li>@Html.ActionLink("einfaches Formular", "Anlegen_einfachesFormular", "Person")</li>
    <li>@Html.ActionLink("Formular mit Profilbild", "Anlegen_ProfilBild", "Person")</li>
</ul>
