
@{
    ViewBag.Title = "Anlegen_EinfachesFormular";
}

<h2>Anlegen_EinfachesFormular</h2>

@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>Vorname</td>
            <td><input type="text" name="vorname" /></td>
        </tr>
        <tr>
            <td>Nachname</td>
            <td><input type="text" name="nachname" /></td>
        </tr>
        <tr>
            <td>Geburts-Datum</td>
            <td><input type="datetime" name="gebDat" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Speichern"/></td>
        </tr>
    </table>
    
   
   
}
